@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body{

	width:97vw;
	height:97vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root{
	--width: 500px;
}
:root.dark{
	--bg-color: black;
	--color: white;
	--border-color: white;
	--user-color: var(--bg-color);
}
:root.light{
	--bg-color: white;
	--color: black;
	--border-color: black;
}
*{
	background-color: var(--bg-color);
	color: var(--color);
	border-color: var(--border-color);
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono',Roboto, Calibri, Tahoma, sans-serif;
}

ul{
	list-style-type: none;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 20px;
	height: 100%;
}
p{
	margin: 30px;
}
ul:has(meter), ul:has(img), ul:has(p){
	align-items: center;
	gap: 5px;
}

ul:has(img) li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
}
img{
	border-radius: 120px;
}
#img-alt path{
	fill: var(--color);
}
.color-fieldset{
	background: linear-gradient(var(--bg-color), var(--user-color));
}
.color-fieldset *{
	background-color: rgba(0,0,0,0);
}

legend{
	text-align: center;
	font-size: 36px;
	font-weight: 900;
}

.color-container{
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  height: 75px;
  padding: 0;
  width: 75px;
  overflow: hidden;
}
#color{
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 8px);
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
}

textarea{
	resize: none;
}
input[type="file"] {
	display: none;
}
label[for='profile-picture']{
	border: 1px solid var(--border-color);
	padding: 4px 8px;
	border-radius: 4px;
}
.nav-buttons{
	display: flex;
	justify-content: space-between;
}
fieldset{
	align-items: center;
	justify-content: center;
	display: none;
	width: var(--width);
	height: 500px;

}
li{
	display: flex;
	justify-content: space-between;
	gap: 50px;

}
.enabled{
	display: flex;
}
meter{
	width: calc(var(--width) - 50px);
}
input[type=range]{
	width: calc(var(--width) - 100px);
}
button{
	padding: 4px 8px; 
	margin: 8px 0 ;
	appearance: none;
}
